* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background: #666666;
}

.popup-flex{
  display: flex;
  flex-direction:column;
  margin: auto;
  width: 50%;
  margin-top: 40px;
}

.head-bar-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  background-color:#FCFCFC;
  border-radius: 25px 25px 0px 0px;
  padding-top:15px;
  padding-bottom:15px;
  border-bottom:1px solid #F3DADA;
}
.head-bar-text{
  display: flex;
  align-items: center;
  margin-left: 40px;
  color:#5A5A5A;
  font-weight: bold;
}
.head-bar-img{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  margin-right: 25px;
}


.myreq-search{
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  /* border:1px solid red; */
  display: flex;
  align-items: center;
  
  background-color:#FCFCFC;
}

.myreq-search input{
  border-style: ridge;
  border-radius: 20px;
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 70%;
  height: 35px;
}

.myreq-search img{
position: absolute;
float: right;
right: 18%;
top: 40%;
}


.box-main{
  background-color:#FCFCFC;
  padding-bottom: 40px;
}

.box-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 70%;
  margin: auto;
  background: #F4F8FA;
  border: 1px solid #D5E2E8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
  
.box-flex-dp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    /* border: 1px solid black; */
}
  
.box-flex-dp img{
  border-radius: 50%;
}
  
.box-flex-data{
    display: flex;
    flex-direction:column;
    width: 60%;
    color: #747474;
    /* border: 1px solid red; */
}
  
.font-12{
    font-size: 12px;
}
  
.font-10{
    font-size: 10px;
}
  
.box-flex-img{
    display: flex;
    justify-content: center;
    width: 20%;
    /* border: 1px solid blue; */
}
  

.bottom-bar-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  background-color:#FCFCFC;
  border-radius: 0px 0px 25px 25px;
  padding-top:30px;
  padding-bottom:10px;
  border-top:1px solid #F3DADA;
}

.bottom-bar-flex a{
  color:#5A5A5A;
  margin-left: 40px;
}

button {
  background-color: #32BDD2;
  color: white;
  padding: 8px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 40px;
}