* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
    margin:auto;
    background-color: #F6F8F9;
    box-shadow: 1px 1px 1px 2px #D8D3D3;
    font-family: 'Roboto';
}



.head-flex{
    padding-top:0.6%;
    padding-bottom: 0.6%;
    background-color:#FFFFFF;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px #D8D3D3;
    /* border:1px solid green; */
}

.left-top-flex{
    display: flex;
    float: left;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    width: 5%;
    padding-left: 1%;
}
  
.right-top-flex{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:flex-end;
    width: 95%;
    padding-right: 2.2%;
}

.right-top-flex-data{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;   
}

.right-top-flex-data-img{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    width: 30%;
    padding: 2px;  
}

.right-top-flex-data-txt{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 60%;  
    padding: 2px; 
    color:#595959;
    font-size:14px;
    font-weight: bold;
}

.right-top-flex-data-last-img{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 2px;
}

#image{
    border-radius: 50%;
}

.data-flex{
  width: 96%;
  margin:auto;
  display: flex;
  flex-direction:row;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px 2px #D8D3D3;

}

.vertical-main{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 10%;
  padding-bottom: 275px;
}

.vertical-text-flex{
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  transform: rotate(270deg);
  letter-spacing: 2px;
  font-size: 14px;
}



.right-main-flex{
  display: flex;
  flex-direction:column;
  padding-left: 50px;
  padding-right: 35px;
  width: 90%;
  justify-content: flex-start;
}

.right-main-data-flex{
  display: flex;
  flex-direction:row;
  background: #F0F0F0;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top:15px;
  padding-bottom:15px;
  margin-top: 50px;
}

.right-main-data-flex-left{
  display: flex;
  flex-direction:column;
  margin-left: 30px;
}
.right-main-data-flex-left span{
  color:#505050;
  font-size: 14px;
  font-weight: bold;
}
.right-main-data-flex-left p{
  color:#747474;
  font-size: 12px;
  padding-top:5px;
}

.right-main-data-flex-right{
  display: flex;
  flex-direction:row;
  align-items: center;
  margin-right: 35px;
  cursor: pointer;
}

.right-main-data-flex-right-span{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 65%;
  margin-right: 10px;
  color:#505050;
  font-size:12px;
}

.right-main-data-flex-right-img{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 35%;
}

.details-flex{
  display: flex;
  flex-direction:row;
  justify-content: space-between; 
  align-items: center;
  padding-top:35px;
  padding-bottom:35px;
  font-size: 12px;
  color: #747474;
  border-bottom: 1px solid #F0F0F0;
}

.details-flex-first{
  display: flex;
  flex-direction:column;
  width: 30%;
  margin-left: 30px;
}
.details-flex-first-padding p{
  padding-top: 3px;
}
.details-flex-first span{
color:#747474;
font-weight: bold;
font-size: 10px;
padding-top:10px;
}

.details-flex-second{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 10%;
}

.details-flex-third{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 15%;
}

.details-flex-fourth{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 15%;
}

.details-flex-fifth{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 10%;
}

.details-flex-fifth img{
  width:40px;
  height:40px;
}




.dropbtn{

}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
  color: #5A5A5A;
}

.dropdown-content a:hover {color: #B5B5B5;}

.show {display: block;}



.ref-flex{
  display: flex;
  flex-direction:row;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding-top: 50px;
  font-weight: bold;
  font-size: 12px;
}
.ref-flex a{
margin-left: 30px;
}
button {
  background-color: #32BDD2;
  color: white;
  padding: 8px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 30px;
}