.menu a {
  background-color: white;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  width: 77%;
}

#seperate
{
  color: #B5B5B5;
}

.container {
  background-color:#F6F8F9;
  margin: auto;
  padding: 15%;
  width: 100%;
}

.f{
position: absolute;
  top: 30%;
  left: 45%;
}