* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
    margin:auto;
    background-color: #F6F8F9;
    box-shadow: 1px 1px 1px 2px #D8D3D3;
    font-family: "Roboto";

}



.head-flex{
    padding-top:10px;
    padding-bottom: 10px;
    background-color:#FFFFFF;
    box-shadow: 1px 1px 1px 1px #D8D3D3;

}

.left-top-flex{
    display: flex;
    float: left;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    width: 5%;
    padding-left: 25px;

}
  
.right-top-flex{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:flex-end;
    width: 95%;
    padding-right: 32px;

}

.right-top-flex-data{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;  

    width: 10%; 
}

#image{
    border-radius: 50%;
}




.campaign-flex{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    background: #d1cfcf;

    padding-top: 1%;
    padding-bottom: 1%;
}




.campaign-title{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;

    padding-top: 2%;
}

.personal-title{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
}

.personal-title span{
    background: #e7e7e7;
    font-weight: bold;
}

.short-title p{
    font-weight: bold;
    padding-top: 3px;
}




.plan-main{
    padding-top: 2%;

}

.plan-name{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
 
    width: 30%;
}

#program{
color: blueviolet;
border-bottom: 2px solid blueviolet;
padding-bottom: 2px;
}

#impl{
padding-right: 20px;
}


.add-img{
    padding-top: 1%;
    padding-bottom: 1%;    
}

.add-img img{
    margin-left: 2%;
}