* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
    margin:auto;
    background-color: #F6F8F9;
    box-shadow: 1px 1px 1px 2px #D8D3D3;
    font-family: "Roboto";
}



.head-flex{
    padding-top:10px;
    padding-bottom: 10px;
    background-color:#FFFFFF;
    box-shadow: 1px 1px 1px 1px #D8D3D3;
}

.left-top-flex{
    display: flex;
    float: left;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    width: 5%;
    padding-left: 25px;
}
  
.right-top-flex{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:flex-end;
    width: 95%;
    padding-right: 32px;
}

.right-top-flex-data{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;  
    width: 10%; 
}

#image{
    border-radius: 50%;
}




.campaign-flex{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    background: #d1cfcf;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.5%;
}




.campaign-title{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    padding-top: 2%;
    padding-left: 3%;
}

.personal-title{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
}

.personal-title span{
    background: #e7e7e7;
    font-weight: bold;
}

.short-title p{
    font-weight: bold;
    padding-top: 3px;
}




.plan-main{
    padding-top: 2%;
    padding-left: 3%;
}

.plan-name{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 30%;
}

#program{
color: blueviolet;
padding-bottom: 2px;
}

#impl{
padding-right: 20px;
}


.add-img{
    padding-top: 1%;
    padding-bottom: 1%;    
}

.add-img img{
    margin-left: 2%;
}


.detailed-text{
    display: flex;
    flex-direction:column;
    padding-bottom: 1.5%;
}


.first-intro{
    display: flex;
    flex-direction:row;
    align-items: center;   
}

.circle{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3%;
    border:1px solid black;
}

#intro-text{
    font-weight: bold;
    margin-left: 3%;
}



.craete-title{
    
    display: flex;
    flex-direction: column;
    width: 70%;
}
.craete-title-sub{
    background: rgb(117, 145, 219);
}
.create-text-left{
    width: 50%;
    float: left;
    padding-left: 3%
}

#create-text-left-span{
    padding-left: 7%;
    font-weight: bold;
}
.create-text-right{
    width: 50%;
    float: right;
}

.create-text-right-sub{
    width: 30%;
    float: right;
}