*{
	
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left{
background-color: pink;
float: left;
width: 58%;
padding: 46px;
}

.right{
background-color: skyblue;
float: left;
width: 42%;
padding: 37px;
}

.buttom{
padding: 50px;
background-color: lightgreen;
float: left;
width: 100%;
}
