* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
  font-family: "Roboto";
  background-color: #F6F8F9;

}

.main{
  box-shadow: 1px 1px 1px 1px #D8D3D3;
  margin-bottom: 20px;
  width: 100%;
}

.left-top-flex{
  display: flex;
  float: left;
  align-items: center;
  background-color:#FFFFFF;
  padding-left: 15px;
}

.right-top-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:flex-end;
  background-color: #FFFFFF;
  padding-right: 28px;
}

#image{
  border-radius: 50%;
  padding:5px; 
  padding-right: 5px;
}


.data-flex{
  /* border:1px solid black; */
  width: 95%;
  margin: auto;
  
}

.request-view-flex{
  background: #245070;
  /* border:1px solid red; */
  padding-top: 4%;
  padding-bottom: 8%;
  padding-left: 3%;
  color: #FFFFFF;
  
}

#big-text{
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: bold;
}

#small-text{
  font-size: 12px;
}



.rounded-flex{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 1px 1px 1px 1px #A3A3C4;
  border-radius: 40px;
  background: #FCFDFF;
  width: 70%;
  margin: auto;
  margin-top: -3.5%;
  /* border:1px solid red; */
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

#rounded-flex-line1{
  color: #909090;
  font-size: 12px;
  margin-bottom: 10px;
  /* border:1px solid red; */
}

#rounded-flex-line2{
color: #000000;
font-weight: bold;
font-size: 14px;
/* border:1px solid blue; */
}

.rounded-flex-one{
  display: flex;
  flex-direction: column;
}

.rounded-flex-two{
  display: flex;
  flex-direction: column;
}

.rounded-flex-three{
  display: flex;
  flex-direction: column;
}



.note-flex{
  display: flex;
  flex-direction:column;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.note-flex span{
  color:#000000;
  font-size: 14px;
  font-weight: bold;
}

#long-para{
  color:#747474;
  font-size:12px; 
  padding-top: 12px;
}

#small-para{
  color:#747474;
  font-size:12px; 
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
}




.details-flex{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.details-heading{
  display: flex;
  color:#000000;
  font-size: 14px;
  font-weight: bold;
}

.details-data-flex{
  display: flex;
  flex-direction:row;
  justify-content: space-between; 
  align-items: center;
  font-size: 12px;
  color: #747474;
  border-bottom: 1px solid #F0F0F0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}
.details-flex-first{
  display: flex;
  flex-direction:column;
  width: 35%;
}

.details-flex-first p{
  padding-top: 3px;
}

.details-flex-first span{
color:#747474;
font-weight: bold;
font-size: 10px;
padding-top:10px;
}

.details-flex-second{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 10%;
}

.details-flex-third{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 15%;
}

.details-flex-fourth{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 15%;
}



.attachment-flex{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.attachment-heading{
  display: flex;
  color:#000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}


.attachment-box-one-flex{
  display: flex;
  padding-top:15px;
  padding-bottom: 15px;
}


.attachment-col-wise{
  display: flex;
  flex-direction:column;
  border:1px solid #D5E2E8;
  width: 30%;
}

.attachment-box-text{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D5E2E8;
  color: #595959;
  font-size: 12px;
  padding:4px;
 
}

#attachment-styling{
  color: #747474;
  font-size: 10px;
  padding:3px;
}

.attachment-del-img{
  display: flex;
  border:1px solid #D5E2E8;
  align-items: center;
  padding:4px;
}



.invitees-flex{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.invitees-heading{
  display: flex;
  color:#000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.invitees-approval-box-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 30%;
  background: #F4F8FA;
  border: 1px solid #D5E2E8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  }
  
.invitees-approval-box-flex-dp{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width: 20%;
   margin: auto;
}
  
.invitees-approval-box-flex-dp img{
  border-radius: 50%;
}
  
.invitees-approval-box-flex-data{
  display: flex;
  flex-direction:column;
  width: 80%;
  margin: auto;
  color: #747474;
}
  
.invitees-approval-font-12{
  font-size: 12px;
}
  
.invitees-approval-font-10{
  font-size: 10px;
}




.approval-flex{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.approval-heading{
  display: flex;
  color:#000000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}