* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
  margin:auto;
  background-color: #F6F8F9;
  box-shadow: 1px 1px 1px 2px #D8D3D3;
  font-family: 'Roboto';
}



.head-flex{
  padding-top:0.6%;
  padding-bottom: 0.6%;
    background-color:#FFFFFF;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 1px #D8D3D3;
  /* border:1px solid green; */
}

.left-top-flex{
  display: flex;
  float: left;
  justify-content:center;
  flex-direction:row;
  align-items: center;
  width: 5%;
  padding-left: 1%;
}
  
.right-top-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:flex-end;
  width: 95%;
  padding-right: 2.5%;
}

.right-top-flex-data{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;   
}

.right-top-flex-data-img{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
  width: 30%;
  padding: 2px;  
}

.right-top-flex-data-txt{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width: 60%;  
  padding: 2px; 
  color:#595959;
  font-size:14px;
  font-weight: bold;
}

.right-top-flex-data-last-img{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width: 10%;
  padding: 2px;
}

#image{
  border-radius: 50%;
}




.my-request{
  background-color:#FFFFFF;
  margin: auto;
  width: 95%;
  border: 1px solid #D8D3D3;
  box-shadow: 1px 1px 1px 1px #D8D3D3;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border:1px solid red; */
}

.my-request-text{
  width: 15%;
  float: left;
  color:#505050;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 20px;
  /* border:1px solid red; */
}


.my-request-search{
  position: relative;
  display: flex;
  width: 70%;
  align-items: center;
  float: left;
  padding-top: 10px;
  /* border:1px solid red; */
}

.my-request-search input{
  border-style: ridge;
  border-radius: 20px;
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 95%;
  height: 35px;
}

.my-request-search img{
  position: absolute;
  float: right;
  right: 4%;
  top: 35%;
}



.btn{
  float: left;
  width: 15%;
  /* border:1px solid red; */

}
button {
  background-color: #32BDD2;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  float: right;
  padding-right: 30px;
}



.data{
  width: 95%;
  margin:auto;
  background-color: #FFFFFF;
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 1px 1px #D8D3D3;
}

.filter{
  border-bottom: 1px solid #FFF2F2;
  padding-top: 15px;
  padding-bottom: 15px;
}

#filter-img{
  position: relative;
  top: 3px;
  left: 20px;
  float: left;
}

.filter-text{
  position: relative;
  left: 30px;
}

#filter-span1{
color: #5A5A5A;
}

#filter-span2{
  font-size: 12px; 
  padding-top:3px;
  color: #505050;
  font-weight: bold;
}



.status{
  width: 100%;
  border-bottom: 1px solid #FFF2F2;
  padding-top: 25px;
  padding-bottom: 25px;
  /* border:1px solid red; */
}

.status-text{
  padding-left: 30px;
  width: 40%;
  float: left; 
  
  /* border:1px solid red; */
}

#status-p1,#status-p4,#status-p7,#status-p10{
  color: #505050;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 12px;
}

#status-p2,#status-p5,#status-p8,#status-p11{
  color: #505050;
  font-size: 12px;
  padding-bottom: 5px;
}

#status-p3,#status-p6,#status-p9,#status-p12{
  color: #505050;
  font-size: 14px;
  font-weight: bold;
}

.status-img{
  /* border:1px solid red; */
  width: 20%;
  float: left;

}

#status-img-image1,#status-img-image2,#status-img-image3,#status-img-image4{
  /* border:1px solid blue; */
  margin-left: 40%;
}

.status-text-right{
  width: 40%;
  /* border:1px solid red; */
  font-size: 14px;
  color: #5A5A5A;
  float: left;
  padding-top: 30px;
  padding-right: 20px;
}

#status-space1,#status-space2,#status-space3,#status-space4{
  padding-left:  80%;
}

.status-circle{
  height: 10px;
  width: 10px;
  background-color:#24D081;
  border-radius: 50%;
  display: inline-block;
}



.show-more{
  padding-top: 20px;
  padding-bottom: 20px;
}

.show-more span{
  padding-left: 47%;
  color:#909090;
  font-size: 12px;
  font-weight: bold;
}