* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
    margin:auto;
    background-color: #F6F8F9;
    box-shadow: 1px 1px 1px 1px #D8D3D3;
    font-family: 'Roboto';
  
}



.head-flex{
    padding-top:0.6%;
    padding-bottom: 0.6%;
    background-color:#FFFFFF;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px #D8D3D3;
    /* border:1px solid green; */
}

.left-top-flex{
    display: flex;
    float: left;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    width: 5%;
    padding-left: 1%;
}
  
.right-top-flex{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:flex-end;
    width: 95%;
    padding-right: 2.2%;
}

.right-top-flex-data{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;   
}

.right-top-flex-data-img{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    width: 30%;
    padding: 2px;  
}

.right-top-flex-data-txt{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 60%;  
    padding: 2px; 
    color:#595959;
    font-size:14px;
    font-weight: bold;
}

.right-top-flex-data-last-img{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 2px;
}

#image{
    border-radius: 50%;
}


.data-flex{
  width: 96%;
  margin:auto;
  display: flex;
  flex-direction:row;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px 1px #D8D3D3;
}

.vertical-main{
  width: 10%;
  /* border:2px solid red; */
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}

.vertical-text-flex{
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 42.5%;
  padding-bottom: 42.5%;
  transform: rotate(270deg);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:1px solid blue; */
  position: relative;
}


.bullet{
  /* border:2px solid black; */
  display: flex;
  flex-direction: row;
  padding-top: 10%;
}


.line{
  width: 50%;
  border-right:1px dashed #B5B5B5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  color: #D3D3D3;
}
.circle{
  height: 30px;
  width: 30px;
  margin-right: -15px;
  border: 1px solid #D3D3D3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;   
  background: #FFFFFF;
}

#clr{
  background: #32BDD2;
  color: #ffffff;
}


.right-main-flex{
  display: flex;
  flex-direction:column;
  padding-left: 50px;
  padding-right: 35px;
  width: 90%;
  justify-content: flex-start;
  /* border:1px solid blue; */
}

.right-main-data-flex{
  display: flex;
  flex-direction:row;
  background: #F0F0F0;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top:15px;
  padding-bottom:15px;
  margin-top: 40px;
  margin-bottom: 38px;
  /* border:1px solid red; */
}

.right-main-data-flex-left{
  display: flex;
  flex-direction:column;
  margin-left: 30px;
}
.right-main-data-flex-left span{
  color:#505050;
  font-size: 14px;
  font-weight: bold;
}
.right-main-data-flex-left p{
  color:#747474;
  font-size: 12px;
  padding-top:3px;
}

.right-main-data-flex-right{
  display: flex;
  flex-direction:row;
  align-items: center;
  margin-right: 45px;
  cursor: pointer;
}

.right-main-data-flex-right-span{
  display: flex;
  align-items: center;
  width: 65%;
  margin-right: 10px;
  color:#505050;
  font-size:12px;
  font-weight: bold;
}

.right-main-data-flex-right-img{
  display: flex;
  align-items: center;
  width: 35%;
}

.box-flex{
display: flex;
flex-direction:row;
align-items: center;
width: 50%;
background: #F4F8FA;
border: 1px solid #D5E2E8;
margin-left: 25px;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 15px;
}

.box-flex-dp{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin: auto;
}

.box-flex-dp img{
border-radius: 50%;
}

.box-flex-data{
  display: flex;
  flex-direction:column;
  width: 70%;
  margin: auto;
  color: #747474;
}

.font-12{
  font-size: 12px;
}

.font-10{
  font-size: 10px;
}

.box-flex-img{
  display: flex;
  flex-direction:row;
  justify-content: center;
  width: 15%;
  margin: auto;
}

.ref-flex{
  display: flex;
  flex-direction:row;
  justify-content: space-between; 
  align-items: center;
  width: 100%;

  font-weight: bold;
  font-size: 12px;
}
.ref-flex a{
margin-left: 30px;
}
.back-next{
  /* border:1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.save a{
  text-decoration: none;
  color:#595959;
  border-bottom: 1px solid #595959;
  padding-bottom: 2px;
  font-size: 12px;
  font-weight: bold;
}

button {
  background-color: #32BDD2;
  color: white;
  padding: 8px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  align-items: center;
}







.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  /* border:1px solid red; */
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  border-radius: 5px;
  width: 45%;
  position: relative;
  top:22%;
  display: flex;
  flex-direction:column;
  overflow: auto;
  /* border:1px solid blue; */
}




.head-bar-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  background-color:#FCFCFC;
  border-radius: 25px 25px 0px 0px;
  padding-top:15px;
  padding-bottom:15px;
  border-bottom:1px solid #F3DADA;
}
.head-bar-text{
  display: flex;
  align-items: center;
  margin-left: 40px;
  color:#5A5A5A;
  font-weight: bold;
  position: relative;
}
.head-bar-img{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  margin-right: 25px;
}


.myreq-search{
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  /* border:1px solid red; */
  display: flex;
  align-items: center;
  
  background-color:#FCFCFC;
}

.myreq-search input{
  border-style: ridge;
  border-radius: 20px;
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 70%;
  height: 35px;
}

.myreq-search img{
position: absolute;
float: right;
right: 18%;
top: 40%;
}


.add-people-box-main{
  background-color:#FCFCFC;
  padding-bottom: 40px;
}

.add-people-box-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 70%;
  margin: auto;
  background: #F4F8FA;
  border: 1px solid #D5E2E8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
  
.add-people-box-flex-dp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    /* border: 1px solid black; */
}
  
.add-people-box-flex-dp img{
  border-radius: 50%;
}
  
.add-people-box-flex-data{
    display: flex;
    flex-direction:column;
    width: 60%;
    color: #747474;
    /* border: 1px solid red; */
}
  
.add-people-font-12{
    font-size: 12px;
}
  
.add-people-font-10{
    font-size: 10px;
}
  
.add-people-box-flex-img{
    display: flex;
    justify-content: center;
    width: 20%;
    cursor: pointer;
    /* border: 1px solid blue; */
}
  


.add-people-bottom-bar-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  background-color:#FCFCFC;
  border-radius: 0px 0px 25px 25px;
  padding-top:30px;
  padding-bottom:10px;
  border-top:1px solid #F3DADA;
  /* border: 1px solid blue; */
}

.cancel-link{
  color:#5A5A5A;
  text-decoration: none;
  border-bottom: 1px solid #595959;
  padding-bottom: 2px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 40px;
}

.cancel-link a{
  text-decoration: none;
}



.text-btn{
  display: flex;
  flex-direction: row;
  /* border:1px solid red; */
  align-items: center;
  width: 50%;
}

.rounded{
  border-radius: 20px 0px 0px 20px;
  padding: 5px 0px 5px 5px;
  border:1px dotted #32BDD2;
  font-size: 12px;
}

.alert-btn {
  background-color: #32BDD2;
  color: white;
  padding: 8px 25px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  top: 91%;
  left: 79%;
}


.cancel-rounded{
  border-radius: 20px 0px 0px 20px;
  padding: 5px 0px 5px 5px;
  border:1px dotted #32BDD2;
  font-size: 12px;
  position: absolute;
  top: 93%;
  left: 62%;
}



.not-found{
  background: #FCFCFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 20%;
}

#no{
  color: #747474;
  font-size: 14px;
}

#we{
  color: #909090;
  font-size: 12px;
}

#cursor1,#cursor2,#cursor3,#cursor4,#cursor5,#cursor6,#cursor7{
  cursor: pointer;
}