* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #F6F8F9;
  /* border:1px solid black; */
}

.first{
  width: 95%;
  margin:auto;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
  /* border: 1px solid red; */
}


.container {
  margin:auto;
  width: 40%;
  background-color: white;
  font-family: 'Roboto';
  border-radius: 10px;
  /* border: 1px solid blue; */
}

.forgot-text{
  text-transform:uppercase;
  border-bottom: 3px solid #707070;
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 16px;
  color: #595959;
}

.text{
  font-size: 12px;
  padding-top: 3.5%;
  padding-bottom: 9%;
  color: #747474;
}


#email-text{
  color: #505050;
  font-size: 12px;
}

input[type=text]{
  width: 80%;
  padding: 8px 20px;
  margin: 8px 0;
  border: 1px solid #D3D3D3;
  border-radius: 6px;
}

#display1, #display2{
  color: #BF574A; 
  font-size:12px; 
  padding-top: 5px;
}

.btn{
  margin-top: 8%;
  /* border: 1px solid red; */
}
button {
  background-color: #32BDD2;
  color: white;
  padding: 12px 20px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}



/* popup code */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  margin-top: 20%;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 30%;
  position: relative;
}


.close {
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  color: #595959;
}

.content {
  padding-top: 20px;
  font-size: 12px;
  color: #747474;
}

.forgot-close{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}