* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background: #F6F8F9;
}


.first{
  margin:auto;
  width: 40%;
  position: absolute;
  top: 20%;
  left: 30%;
  padding:20px;
  background: #F6F8F9;
  border:1px solid #e6e5e5;
}


.container {
  margin:auto;
  background-color: white;
  width: 95%;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 2px 2px #F3F6A9;
  border:1px solid #e6e5e5;
}
 
.login-text{
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-text span{
  position: relative;
  left: 5px;
  border-bottom: 3px solid #707070;
  padding-bottom: 2px;
  color:#595959;
  text-transform:uppercase;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}



.email-password{
  color:#505050;
  font-size: 12px;
}

#email-password-text{
  position: relative;
  left: 5px;
  padding-top: 40px;
  padding-bottom: 10px;
}


input[type=email], input[type=password] {
  width: 80%;
  padding: 8px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
}


.rem-me {
}

#checkbox-text{
  position: relative;
  left: 5px;
  float: left;
}
#forgot{
  float: right;
}


button {
  background-color: #32BDD2;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  left: 5px;
}

button:hover {
  opacity: 0.8;
}



