* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #F6F8F9;
}


.container {
  margin:auto;
  background-color: white;
  font-family: 'Roboto';
  border-radius: 10px;
  box-shadow: 2px 2px #F3F6A9;
  padding: 12px;
}

.first{
  margin:auto;
  width: 40%;
  position: absolute;
  top: 25%;
  left: 25%;
  padding: 1%;
  background: #F6F8F9;
  border-radius: 10px;
  border: 1px solid #F8FABF;
}

.text{
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 30px;
}

input[type=text]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
 border: 1px solid #ccc;
}

button {
  background-color: #32BDD2;
  color: white;
  padding: 12px 20px;
  margin: 12px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}


.forgot-text{
  text-transform:uppercase;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}