* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
    margin:auto;
    background-color: #F6F8F9;
    box-shadow: 1px 1px 1px 2px #D8D3D3;
    font-family: 'Roboto';
}



.head-flex{
    padding-top:0.6%;
    padding-bottom: 0.6%;
    background-color:#FFFFFF;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px #D8D3D3;
    /* border:1px solid green; */
}

.left-top-flex{
    display: flex;
    float: left;
    justify-content:center;
    flex-direction:row;
    align-items: center;
    width: 5%;
    padding-left: 1%;
}
  
.right-top-flex{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:flex-end;
    width: 95%;
    padding-right: 2.2%;
}

.right-top-flex-data{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;   
}

.right-top-flex-data-img{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    width: 30%;
    padding: 2px;  
}

.right-top-flex-data-txt{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 60%;  
    padding: 2px; 
    color:#595959;
    font-size:14px;
    font-weight: bold;
}

.right-top-flex-data-last-img{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 10%;
    padding: 2px;
}

#image{
    border-radius: 50%;
}




.data-flex{
  width: 96%;
  margin:auto;
  display: flex;
  flex-direction:row;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px 2px #D8D3D3;

}

.vertical-main{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 10%;
  padding-top: 40px;
}

.vertical-text-flex{
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  transform: rotate(270deg);
  letter-spacing: 2px;
  font-size: 14px;
}

.vertical-img-flex{
  display: flex;
  align-items: center;
  margin-top: 25px;
}



.right-main-flex{
  display: flex;
  flex-direction:column;
  padding-left: 50px;
  padding-right: 35px;
  width: 90%;
  justify-content: flex-start;
}

.right-main-data-flex{
  display: flex;
  flex-direction:column;
  background: #F0F0F0;
  width: 100%;
  padding-top:20px;
  padding-bottom:20px;
  margin-top: 40px;
}

.right-main-data-flex span{
  color:#505050;
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
}
.right-main-data-flex p{
  color:#747474;
  font-size: 12px;
  padding-top:3px;
  margin-left: 30px;
}



.file-selector-flex{
  display: flex;
  flex-direction:row;
  width: 100%;
  margin-top: 50px;
  /* border:1px solid red; */
}

.file-selector-left-flex{
  display: flex;
  flex-direction:column;
  width: 30%;
  font-size: 10px;
  color: #747474;
  margin-left: 30px;
}

#browse{
  font-size: 12px;
  border-radius: 10px;
}
.file-selector-right-flex{
  display: flex;
  background: #32BDD2;
  width: 25%;
}

.file-selector-right-flex-rect{
  display: flex;
  flex-direction:column;
  align-items: center;
  border:2px dashed white;
  margin: auto;
  width: 80%;
  padding: 5px;
  color: #FFFFFF;
}

.upload-flex{
  /* border:1px solid black; */
  display: flex;
  flex-direction:row; 
}

.upload-left-flex{
  /* border:1px solid green; */
  width: 40%;
  display: flex;
  flex-direction:column; 
  margin-left: 30px;
  
}

#padding1,#padding2{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.upload-left-top{
  /* border:1px solid red; */
  padding-top: 12px;
  padding-bottom: 12px;
}

.upload-left-top-data{
  display: flex;
  justify-content: space-between;
  background: #E0E0E0;
  width: 60%;
  font-size: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.upload-left-bottom{
  /* border:1px solid blue; */
  font-size: 10px;
  color: #B5B5B5;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.upload-right-flex{
  /* border:1px solid purple; */
  width: 15%;
  display: flex;
  justify-content: center;
}


.upload-btn{
  background-color: #32BDD2;
  color: white;
  padding: 8px 25px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}


.warn-msg-flex{
  display: flex;
  flex-direction: row;
  /* border:1px solid blue; */
  align-items: center;
}

.warning-msg{
  /* border:1px solid red; */
  background:#FFF5F5;
  color: #CB1720;
  font-size: 10px;
  width: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#adjust{
  padding-left: 12px;
  
}

.ref-flex{
  display: flex;
  flex-direction:row;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding-top: 100px;
  font-weight: bold;
  font-size: 12px;
}

.save a{
  text-decoration: none;
  color:#595959;
  border-bottom: 1px solid #595959;
  padding-bottom: 2px;
  font-size: 12px;
  font-weight: bold;
}

button {
  background-color: #32BDD2;
  color: white;
  padding: 8px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}