* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
  font-family: "Roboto";
  background-color: #F6F8F9;
  width: 99%;
  margin:auto;
}

.main{
  margin: auto;
  box-shadow: 1px 1px 1px 1px #D8D3D3;
  margin-bottom: 20px;
  width: 100%;
}

.left-top-flex{
  display: flex;
  float: left;
  justify-content:space-between;
  flex-direction:row;
  align-items: center;
  background-color:#FFFFFF;
  padding-left: 15px;
}

.right-top-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:flex-end;
  background-color: #FFFFFF;
  padding-right: 18px;
}

#image{
  border-radius: 50%;
  padding:5px; 
  padding-right: 5px;
}


.my-request-flex{
  display: flex;
  justify-content:space-between;
  flex-direction:row;
  align-items: center;
  background-color:#FFFFFF;
  width: 96%;
  margin:auto;
  border: 1px solid gainsboro;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 1px 1px 1px 2px #D8D3D3;
}


.text{
  font-size: 20px;
  border-bottom: 2px solid #32BDD2;
  margin-left: 30px;
  padding-bottom: 2px;
}

.search{
  position: relative;
}

.search input{
  border-style: ridge;
  border-radius: 20px;
  display: block;
  box-sizing: border-box;
  width: 800px;
  height: 35px;
}

.search img{
position: absolute;
float: right;
right: 20px;
top:4px;
}

button {
  background-color: #32BDD2;
  color: white;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  float: right;
  margin-right: 30px;
  font-family: "Roboto";
}


.data-flex{
  width: 96%;
  margin:auto;
  background-color: #FFFFFF;
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 1px 2px #D8D3D3;
}

.filter-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  border-bottom: 1px solid #FFF2F2;
  padding-top: 15px;
  padding-bottom: 15px;
}
.a{
  margin-left: 30px;
  float: left;
}
.column{
  display: flex;
  flex-direction: column;
  padding: 7px;
}

#style{
  font-size: 12px; 
  padding-top:3px;
}


.status-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 30px;
  border-bottom: 1px solid #FFF2F2;
}

.column1{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
#small{
  font-size: 12px;
  padding-top:14px;
  padding-bottom: 3px;
}
.text-right{
  margin-right: 30px;
}

#space{
  padding:5px;
}

.circle {
  height: 10px;
  width: 10px;
  background-color:#24D081;
  border-radius: 50%;
  display: inline-block;
}


.show-more-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:center;
  background-color:#FFFFFF;
  padding-top: 30px;
  padding-bottom: 25px;
  
}