* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
  font-family: "Roboto";
  background-color: #F6F8F9;
  margin:auto;
}

.main{
  margin: auto;
  box-shadow: 1px 1px 1px 1px #D8D3D3;
  margin-bottom: 20px;
  width: 100%;
  background-color: #FFFFFF;
  padding-top:5px;
  padding-bottom:5px;
}

.left-top-flex{
  display: flex;
  float: left;
  justify-content:space-between;
  flex-direction:row;
  align-items: center;
  padding-left: 20px;
}

.right-top-flex{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:flex-end;
  padding-right: 20px;
}

#image{
  border-radius: 50%;
  padding:5px; 
  padding-right: 5px;
}


.data-flex{
  width: 96%;
  margin:auto;
  display: flex;
  flex-direction:row;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px 2px #D8D3D3;
  position: relative;
}

.vertical-main{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.vertical-text-flex{
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  transform: rotate(270deg);
  }

.vertical-img-flex{
  display: flex;
  align-items: center;
}


.right-main-flex{
  display: flex;
  flex-direction:column;
  padding-left: 50px;
  width: 90%;
}

.right-flex{
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  padding-top: 80px;
  padding-bottom: 30px;
  width: 100%;
}
.right-flex p{
  padding-top: 8px;
  font-size: 12px;
}
.txtarea{
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  padding-top: 20px;
  padding-bottom: 30px;
}

.txtarea input{
  width: 400px;
  height: 100px;
}
.req-type{
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  padding-top: 20px;
  padding-bottom: 10px;
}

.req-type p{
  padding-top: 8px;
  font-size: 12px;
}
.radio{
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  padding-bottom:40px;
}

.radio p{
  padding-top: 25px;
}
.bottom{
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-between;
  padding-top: 50px;
}

button {
  background-color: #32BDD2;
  color: white;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  float: right;
  margin-right: 30px;
}