* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
  font-family: "Roboto";
  background-color: #F6F8F9;
  width: 100%;
  margin:auto;
}



.main{
  margin: auto;
  box-shadow: 1px 1px 1px 1px #D8D3D3;
  width: 100%;
  background-color:#FFFFFF;
}

.left-top{
  float: left;
  width: 5%;
}

#left-top-img{
  position: relative;
  top: 3px;
  left: 25%;
}

.right-top{
  float: right;
  width: 95%;  
}

.right-top-sub{
  position: relative;
  right: 2%;
  width: 10%;
  float: right;
}


#right-top-img1{
  border-radius: 50%; 
  position: relative;
  top: 2px;
}

.right-top-sub span{
  margin-bottom: 5px;
  position: relative;
  bottom: 10px;
  color: #595959;
  font-size: 12px;
}

#right-top-img2{
  position: relative;
  bottom: 8px;
}



.my-request{
  background-color:#FFFFFF;
  margin: auto;
  width: 95%;
  border: 1px solid #D8D3D3;
  box-shadow: 1px 1px 1px 1px #D8D3D3;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.my-request-text{
  position: relative;
  top: 18px;
  left: 20px;
  font-size: 20px;
  width: 15%;
  float: left;
  color:#505050;
  font-size: 16px;
  font-weight: bold;
}

.my-request-search{
  position: relative;
  top: 12px;
  width: 65%;
  float: left;
}

.my-request-search input{
  border-style: ridge;
  border-radius: 20px;
  display: block;
  box-sizing: border-box;
  width: 800px;
  height: 35px;
}

.my-request-search img{
position: absolute;
float: right;
right: 60px;
top:5px;
}

.my-request-button{
  float: right;
  width: 20%;
}


button {
  background-color: #32BDD2;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  float: right;
  margin-right: 30px;
}



.data{
  width: 95%;
  margin:auto;
  background-color: #FFFFFF;
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 1px 1px #D8D3D3;
}

.filter{
  border-bottom: 1px solid #FFF2F2;
  padding-top: 15px;
  padding-bottom: 15px;
}

#filter-img{
  position: relative;
  top: 3px;
  left: 20px;
  float: left;
}

.filter-text{
  position: relative;
  left: 30px;
}

#filter-span1{
color: #5A5A5A;
}

#filter-span2{
  font-size: 12px; 
  padding-top:3px;
  color: #505050;
  font-weight: bold;
}



.status{
  width: 100%;
  border-bottom: 1px solid #FFF2F2;
  padding-top: 25px;
  padding-bottom: 25px;
}

.status-text{
  position: relative;
  left: 20px;
  width: 40%;
  float: left; 
}

#status-p1{
  color: #505050;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 12px;
}

#status-p2{
  color: #505050;
  font-size: 12px;
  padding-bottom: 5px;
}

#status-p3{
  color: #505050;
  font-size: 14px;
  font-weight: bold;
}

.status-img{
  position: relative;
  left: 20px;
  width: 30%;
  float: left;
}

#status-img-image{
  position: relative;
  left: 35%;
}

.status-text-right{
  position: relative;
  left: 50px;
  top: 20px;
  width: 25%;
  float: left;
  font-size: 14px;
  color: #5A5A5A;
}

#status-space{
  padding:5px;
  position: relative;
  left: 60%;

}

.status-circle{
  height: 10px;
  width: 10px;
  background-color:#24D081;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 60%;
}



.show-more{
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.show-more span{
  position: relative;
  left: 50%;
  color:#909090;
  font-size: 12px;
  font-weight: bold;
}


.show-more img{
  position: relative;
  left: 50%;
  top:3px;
}